<%- include('parts/header') %>
<%- include('parts/navbar') %>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Sign Up</h3>
          </div>
          <div class="card-body">
            <form method="post" action="/signup">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" >
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" >
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" >
              </div>
              <div class="mb-3">
                <label for="confirm-password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Enter your password" >
              </div>
              <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            </form>
          </div>
          <div class="card-footer text-center">
            <p>Already have an account?</p>
            <a href="/login" class="btn btn-link">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include('parts/footer') %>